@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

body {
    font-family:Arial, Helvetica, sans-serif;
    height: 100vh;
    background: #333 url('https://images.unsplash.com/photo-1547127796-06bb04e4b315?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80') no-repeat center center/cover;
    color: bisque;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
}

h1, h2{
    font-weight: 200;
    margin:0.4rem
}


h1{
    font-size: 5rem;
    color: #aaa;
}

h2{
    font-size: 2rem;
    color: #aaa;
}

/* cursor */

.txt-type > .txt {
    border-right: 0.2rem solid #777;
}


@media(min-width: 1200px){
    h1 {
        font-size: 5rem;
    }
}

@media(max-width: 800px){
    .container{
        padding: 0 1rem;
    }

    h1{
        font-size: 3rem;
    }
}

@media(max-width: 500px){
    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 1.5rem;
    }
}
